body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(white, lightgray, darkgray, gray);
}

/*Seccion Barra de Navegacion*/

header {
    background: #bbb;
    height: 76px;
    border-bottom: 1px solid #000;
    width: 100%;
    position: fixed;
    top: 0;
}

header h1 {
    font-size: 20px;
    font-weight: bold;
    padding-top: 30px;
    padding-left: 30px;
    text-decoration: none;
    color: #000;
}

.barra-nombre {
    text-decoration: none;
    color: #000;
    float: left;
    padding-left: 50px;
    padding-top: 30px;
    font-weight: bold;
    font-size: 20px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

nav ul {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 33px;
    margin-right: 30px;
}

/* Seccion Mi Nombre */


#minombre {
    width: 1280px;
    margin-top: 100px;
}

.contenido-minombre {
    margin: 0px auto;
    padding: 20px;
    margin-right: 0px;
}

.nombre-minombre {
    display: inline-block;
    width: 70%;
    vertical-align: top;
    margin-top: 100px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 60px;
}

.texto-minombre {
    font-size: 20px;
    font-weight: lighter;
    margin-top: 20px;
}

.imagen-foto {
    width: 20%;
    float: right;
    margin-top: 20px;
}

/* Seccion Sobre Mi */

#sobremi {
    width: 1280px;
    margin-top: 250px;
    margin-bottom: 150px;
}

.contenido-sobremi {
    width: 70%;
    margin: auto;
    text-align: justify;
}

.sobremi-sobremi {
    font-size: 25px;
    font-weight: bold;
}

.texto-sobremi {
    font-size: 20px;
    font-weight: lighter;
    margin-top: 20px;
}

.sobremi-redes {
    display: inline-block;
    width: 25%;
    margin-top: 50px;
    margin-left: 50px;
}

/*Seccion Contactos*/

.formulario {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 25px 0 40px 0;
}

.contacto-formulario {
    font-size: 30px;
    font-weight: bold;
}

form label {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.contenido-formulario {
    width: 1280px;
    margin: 0px auto;
    padding: 20px;
    margin-right: 0px;
}

.imagen-telefono {
    width: 45%;
    padding: 25px 20px 25px 40px;
    float: left;
}

.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 80%;
}

.enviar {
    width: 60%;
    padding: 10px 0;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background-color: darkorange;
    transform: scale(1.1);
}

.texto-formulario {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

.texto-formulario1 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 40px;
    margin-right: 40px;
}

@media screen and (max-width: 480px) {

    
}